@import "tailwindcss";

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    overflow-x: hidden;
}

.heading1{
    font-size: 2vw;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    padding-top: 15px;
}

.myH1{
    font-size: 26px;
    font-weight: 700;
}

